logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Abstract Class
# Any
# Built-in Data Types
# Class Typescript
# Custom Data Type
# Encapsulation
# Enum Data Type
# Function Signature
# Generic
# Inheritance
# Object Data Type
# Tuple Data Type
# User Define Data Types